body { background: url(https://phonoteka.org/uploads/posts/2022-09/1663653980_54-phonoteka-org-p-fon-dlya-prezentatsii-garri-potter-krasivo-60.png); }
 .active {
      text-decoration: underline;
    }
nav {
      background-color: #a9bec7;
      padding: 7px;
      margin-bottom: 20px;
      text-align: center;
    }

    nav a {
      color: #000000;
      text-decoration: none;
      margin-right: 130px;
      font-size: 1.5rem;
    }

    nav a:hover {
      text-decoration: underline;
    }
    }
    #comment {width:600px; height:200px;}
    /* Общие стили */

/* Стили для десктопных устройств */
@media (min-width: 768px) {
  nav a {
    display: inline-block;
    margin-right: 20px;
  }
  
}

/* Стили для планшетов */
@media (max-width: 768px) {
  nav a {
    display: block;
    margin-bottom: 10px;
    margin-right: 1px;
  }

}

/* Стили для смартфонов */
@media (max-width: 425px) {
  nav a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 1px;
  }
   #comment {width:360px; height:100px;}
}
@media (max-width: 375px) {
  nav a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 1px;
  }
   #comment {width:320px; height:100px;}
}
@media (max-width: 320px) {
  nav a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    margin-right: 1px;
  }
   #comment {width:270px; height:100px;}
}
